*RESET DEFAULT SETTINGS*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Customization CSS Jessica Parker*/


html{
	scroll-behavior: smooth;
}
/* nav bar padding so the elements are spaced out properly*/
nav{
	padding:5;
}
/* Name centered and background color black, text white */
#name{
	text-align:center;
	background: white;
	color:black;
	box-shadow: 0 2px 5px;
}

/* typewriter animation */
.typewriter{
	overflow: hidden;
	border-right: .15em solid grey;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 2.0;
	animation: typing 3.5s steps(40, end),
	blink-caret .75s step-end;
}
/* typing effect */
@keyframes typing {
	from {width: 0}
	to {width: 100%}
}
@keyframes blink-caret {
	from, to { border-color: transparent}
	50% { border-color: grey; }

}
/* center photo */
.photo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 50%;

}
/* Portfolio title settings */
h2{
	text-align: center;
	font-size: 50px;
	text-decoration:underline;

	

}
/* formats resume download to center underneath portfolio */
.resume{
	margin-left: 290px;
}
/* move progress bar to the left  */
.progress,h4{
	margin-left:15px;
}


/* centering submit button */
.submit{
	margin-left: 15px;
}

/* text settings for better readibility*/
p {
    margin-right:30px;
    line-height: 1.7;
	text-align: left; 
	font-family: poppins,sans-serif; 
	padding:10px;
	
}


/*adds a background color of cool grey tone*/
body {  
	background-color:#D3D3D3
	
}


/*alternate color for links  and hover change color effect*/
a:hover, a:focus {
	color:black;
	text-decoration: none;
}



.row{
	justify-content: center;
	margin-left: auto;
}
/*footer settings, to center and add background color */
footer {
	height: 100px;
	width: 100%;
	color: white;
	background-color: grey;
	display:flex;
	justify-content: center;
	align-items: center;
}
/* contact me header settings */
.contact-me{
	position: relative;
	left:-4%;
}
/* contact form settings */
.contact{
	margin-bottom:10%;
}


@media (max-width: 992px) {
	.photo {
		width: 60%;
		justify-content: center;
	}
}

@media (max-width: 767px) {
	.contact{
		margin-right: 50%;
		 
	}
	.contact-me{
		margin-left: 20%;
		width: 100%;
	}
	.submit{
		margin-left: 45%;
		width: 100%;
	}
}
@media (max-width: 375px) {
	
	.contact-me{
		position: relative;
		left:-15%;
		width: 100%;
	}
	.submit{
		position: relative;
		left:1%;
		width: 100%;
	}

}
@media (max-width: 576px) {
	#icon{
		display:none;
	}
}

